@model Book
@{
    ViewData["Title"] = "Create Book";
}

<div class="row g-3">
    <form asp-action="Create" class="col-md-4">
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label text-sm">Title</label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Author" class="form-label text-sm"></label>
            <input asp-for="@Model.Author" class="form-control" />
            <span asp-validation-for="@Model.Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.PublicationYear" class="form-label text-sm">Publication Year</label>
            <input asp-for="@Model.PublicationYear" class="form-control" />
            <span asp-validation-for="@Model.PublicationYear" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ISBN" class="form-label text-sm">ISBN</label>
            <input asp-for="@Model.ISBN" class="form-control" />
            <span asp-validation-for="@Model.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Genre" class="form-label text-sm"></label>
            <input asp-for="@Model.Genre" class="form-control" />
        </div>

        <button class="btn btn-sm btn-outline-dark" type="submit">Create</button>
    </form>
</div>
